{{>head}}
<p>
	This site was created as part of learning NodeJS.<br>
	It uses OpenWeather geocoding and weather API to give you current weather info.
</p>

<img class="portrait" src="/img/profile.jpg" width="250" alt="profile picture">

{{>footer}}
